@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');


body {
    background-image: url('images/marslandscape.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}


#big-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 450%;
    color: antiquewhite;
}

#main-info {
    text-align: center;
    margin: 15% auto 0 auto;
    /* display: inline-block; */
}

.temperature-header {
    font-family: 'Montserrat', sans-serif;
    font-size: 200%;
    color: antiquewhite;
    margin: 0 0 -2% 0;
}

.temperature-data {
    font-family: 'Oswald', sans-serif;
    font-size: 500%;
    color: antiquewhite;
    margin: 0 0 1.5% 0;
}